<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>一想到小贤，我这个刷🍉的热情噌的一下冒起来了我这个热情我真的噌的一下我这个热情我真的噌的一下我这个热情我真的噌的一下我这个热情我真的噌的一下我这个热情我真的噌的一下我这个热情我真的噌的一下冒起来了
          </p>
      </div>
      <div class="col-lg-4">
        <p>엑소 댄스 메들리

마마
중독
로또
옵세션
플레이보이! </p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Download Theme
        </a>
      </div>
    </div>
  </div>
</section>
